bluesky
event-model >=1.11.1
databroker >=1.0.0a1
intake
jsonschema
matplotlib
ophyd  # for demo's example data generator -- maybe should be optional?
pyqt5>=5.8
pyzmq
qtpy
suitcase-jsonl
tornado
traitlets
