bluesky
event-model >=1.9.0a3
intake-bluesky >=0.1.0a5
jsonschema
matplotlib
ophyd  # for demo's example data generator -- maybe should be optional?
pyqt5>=5.8
pyzmq
qtpy
suitcase-jsonl
tornado<5  # pinned for bluesky
