/*# "relbarbgcolor": "#555",*/
/*# "bgcolor": "#555",*/
/*# "sidebarbgcolor": "#333",*/
/*# "sidebarlinkcolor": "#0dd",*/
/*# "sidebartextcolor": "#ddd",*/
/*# "linkcolor": "#bbb",*/
/*# "textcolor": "#ddd",*/
/*# "footerbgcolor":"#333",*/
/*# "headbgcolor":"#555",*/
/*# "headtextcolor":"#0dd"*/

h1, h2 {
    color: #0dd;
}

.highlight pre, code {
    background-color: #888;
}

a {
    text-shadow: 0 1px 1px #888;
}

a:hover {
    text-shadow: 0 0 8px #0dd;
}

.footer {
    border-top: 1px solid #333;
}